<div>
    <div class="mainContainer">
        <div class="container-fluid bg_header">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
                <div class="navbar-header col-sm-3">
                    <img src="images/tcs_50.png" alt="tcs-logo" class="tcs_logo img-responsive">
                </div>
                <div class="col-sm-3 col-sm-offset-6">
                    <p class="LogoText">WEB 2 PDF</p>

                    {{!--
                    <a href='#' class="active-iframe help_click" style="color: white;
                    font-weight: bold; font-size: 1.3em; text-decoration: underline;">
                        Help
                    </a> --}}
                    <a href='#' class="active-iframe help_click_close" style="color: white;
                    font-weight: bold; font-size: 1.3em; text-decoration: underline;">
                        Close Help
                    </a>
                </div>
            </div>
        </div>

        <div class="container-fluid bgBack">
            <div class="blur"></div>
            <div class="row">
                {{!--
                <iframe id="display_help" src="http://vm-acellywd-087:8080/Home.aspx#" class="iFrame_Help"></iframe> --}}
                <div class="col-sm-6 col-sm-offset-3 formControl">
                    {{!-- <div class="titleHeader">
                        <h3>Web2PDF Generator</h3>
                    </div> --}}

                    <div role="urlFetching">
                        <form id="urlForm">
                            <input required id="urlText" style="width:100%" placeholder="Enter the url" autocomplete="off">
                            <button id="generatePdf" class="btn btn-primary" style="margin-top:2%;">Generate PDF</button>
                        </form>
                    </div>

                    <div id="resolution">
                        <span class="button-checkbox">
                            <button type="button" class="btn" data-color="danger">Mobile</button>
                            <input type="checkbox" required id="ch1" class="hidden" />
                        </span>
                        <span class="button-checkbox">
                            <button type="button" class="btn" data-color="primary">iPad</button>
                            <input type="checkbox" required id="ch2" class="hidden" />
                        </span>
                        <span class="button-checkbox">
                            <button type="button" class="btn" data-color="success">Desktop</button>
                            <input type="checkbox" required id="ch3" class="hidden" checked="true"/>
                        </span>
                        <span class="button-checkbox">
                            <button type="button" class="btn" data-color="info">Large Desktop</button>
                            <input type="checkbox" required id="ch4" class="hidden" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer_section" id="contact">
        <div class="container">
            <div class="footer_bottom">
                <span>© All rights reserved by TATA CONSULTANCY SERVICES LTD</span>
            </div>
        </div>
    </footer>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Generating PDF...</h4>
                </div>
                <div class="modal-body">
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script src="js/index.js"></script>

</div>